<div class="col-md-12">
<h1>Help page</h1>
<p>Future help information will go here</p>
<h2>Key Commands</h2>
<table class="table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>Go to previous term</td>
      </tr>
      <tr>
        <td>D</td>
        <td>Go to next term</td>
      </tr>
      <tr>
        <td>S</td>
        <td>View term definition</td>
      </tr>
    </tbody>
  </table>
</div>
