<div id="MainMenu">
        <div class="list-group panel">
          <a href="javascript:;" class="list-group-item list-group-item-success chapter1" data-toggle="collapse" data-parent="#chapter1" data-target="#chapter1">Chapter 1</a>
          <div class="collapse" id="chapter1">
		  <!--practice-->
            <a href="javascript:;" class="list-group-item" data-toggle="collapse" data-parent="#practice" data-target="#practice">Practice <i class="fa fa-caret-down"></i></a>
            <div class="collapse list-group-submenu" id="practice">
              <ul ng-controller="mainCtrl">
			    <li ng-repeat="words in allTerms1 track by $index"><a href  class="{{$index}}" id="{{ $index }}"  ng-click="testing($event, 1); PracticeTerm(1);">{{ words.term }}</a></li>
			</ul>
			</div>
			<!--end practice-->
			<!--start review-->
              <a href="javascript:;" class="list-group-item" data-toggle="collapse" data-parent="#review" data-target="#review">Review <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu list-group-submenu-1" id="review">
                <ul ng-controller="mainCtrl">
				<li ng-repeat="words in allTerms1 track by $index"><a href class="{{$index}}" id="{{ $index }}" ng-click="testing($event, 1); ReviewTerm(1);">{{ words.term }}</a></li>
			      </ul>
              </div><!--end review-->
          </div>
        </div>
      </div>