<div class="col-md-12" ng-controller="ReviewCtrl">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center the_term">{{ chapters[currentChapter].terms[currentTerm].term }}</h1>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center pronuc">Pronunciation</p>
					</div>
					<!--end 12 pronunciation-->

			<div class="col-md-4" ng-hide="showDetails">
		        <img src="img/audio.png" class="img-responsive pull-right"  ng-click="responsiveVoice.speak(chapters[currentChapter].terms[currentTerm].term, 'UK English Male', {rate: 1 })" data-toggle="tooltip" data-placement="top" tooltip="Click to listen to pronunciation" />
		    </div>
			<div class="col-md-8">
				<h1 class="pronuc_word pull-left">{{ chapters[currentChapter].terms[currentTerm].pronun }}</h1>
			</div><!--end 9-->
		      <!--end 6-->
			  
					<hr/>
					<div class="col-md-12">
						<h4>Definition:</h4>
						<div class="well answersafter">
							{{ chapters[currentChapter].terms[currentTerm].definition }}
						</div>
					</div>
					<!--end definition-->
				</div>
				<!--end row-->
			</div>
		</div>
		<!--end col 12-->
	</div>
	<!--end second row-->
</div>
